{% extends "base.html" %}
{% block content %}
    <title>Upload new File</title>
    <h1>Upload new File</h1>
    <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>
{% endblock %}
{% block k_value %}
<form action = /run method=post enctype=multipart/form-data>
    <input type=number id=k_value name=k_value min=1 max=20>
    <input type=submit value=Running>
</form>
{% endblock %}

{% block summary %}
<form action = /run/summary method=post enctype=multipart/form-data>

    <input type=submit value=Summaries>
</form>
{% endblock %}
